extends ../layouts/default.jade

block page-header
  h2 Node.js demo REST API backend

block content
  p
    | A demo Node.js REST API backend using Express, Mongoose, Passport and Redis session storage.
    | Based on  
    a(href='https://github.com/madhums/node-express-mongoose') node-express-mongoose 
    | boilerplate by madhums.
    
  p
    | This project shows various APIs to perform authenticated CRUD operations on a 'beer' entity.
    | You can perform signup/signin by using the corresponding routes.
    
  p
    | Check the available routes in 
    code config/routes.js
    |.
